*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background: #262626;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}
.nav-logo{
    color: white;
    font-size: 2.5rem;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    padding: 10px;
}
.nav-item{
    transition: 1s;
}

.hamburger{
    display: none;
    cursor: pointer;
}
.bars{
    display: block;
    width: 30px;
    height: 4px;
    margin: 6px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #eeeeee;
}
@media(max-width:768px){
    .hamburger{
        display: block;
    }

    /* .hamburger.active.bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active.bar:nth-child(1){
        transform:translateY(10px)rotate(40deg);
    }
    .hamburger.active.bar:nth-child(3){
        transform:translateY(-10px)rotate(-40deg);
    } */

    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        gap: 0; 
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: #262626;
        transition: 0.3s;
    }
    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        right: 0;
    }
}